<div class = "add-product">

<h1>Add Product</h1>
<p class="p_message">{{addProductMessage}}</p>
<form #addProduct="ngForm" class="form" (ngSubmit)="addProductToList(addProduct.value)">
    <input type="text" class="form-input" placeholder="Product Name" name="name" ngModel/>

    <input type="text" class="form-input" placeholder="Product Category" name="category" ngModel/>

    <input type="text" class="form-input" placeholder="Product Description" name="description" ngModel/>
    <input type="text" class="form-input" placeholder="Product Color" name="color" ngModel/>

    <input type="text" class="form-input" placeholder="Product Price" name="price" ngModel/>
    <input type="text" class="form-input" placeholder="Product Image URL" name="image" ngModel/>
    <button class="form-button">Add Product</button></form>
</div>