table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}
table td, table th {
    padding: 10px;
    border: 1px solid blueviolet;
    min-height: 160px;
}

img {
    width: 100px;
    height: 100px;
}
.adjust-update-link{
    text-decoration: none;
    color: blueviolet;
    margin-left: 10px;
}