<div class="seller-auth">
  <div *ngIf="!showLogin" class="sign-up">
    <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="form">
        <h2>Seller Sign Up</h2>
        <input type="text" class="form-input" placeholder="Name" name="name" ngModel required />
        <input type="email" class="form-input" placeholder="Email" name="email" ngModel required />
        <input type="password" class="form-input" placeholder="Password" name="password" ngModel required />
        <button type="submit" class="form-button">Sign Up</button>

        <a class="auth-toggle-link" (click)="openLogin()">Already having account? Click here for Login</a>
    </form>
  </div>  
  
 <div *ngIf="showLogin" class="login">
    <h1>Seller Login</h1>
    <p class="error-p">{{authError}}</p>
    <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="form">
      <input
      type="text"
      class="form-input"
      placeholder="Enter Email"
      name="email"
      ngModel
    />
      <input
        type="password"
        class="form-input"
        placeholder="Enter Password"
        name="password"
        ngModel
      />
      <button class="form-button">Login</button>
      <a class="auth-toggle-link" (click)="openSignUp()">Don't have account? Click for sign-up</a>

    </form>
  </div>
</div>