<ngb-carousel *ngIf="popularProducts?.length">
    <ng-template *ngFor="let product of popularProducts" ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="product-header-image" [src]="product?.image" alt="Random slide" />
        </div>
        <div class="carousel-caption">
            <h3>{{ product?.name }}</h3>
            <p>{{ product?.description }}</p>
        </div>
    </ng-template>
</ngb-carousel>

<div class="product-list-wrapper">
    <h1>Trending Products</h1>
    <div class="row">
        <div class="col-sm-3">
            <div class="product-item">
                <img
                    src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/1eeaacc0-e07c-4024-a5f7-57f2fd23e8a2/air-max-270-g-golf-shoe-Z6vCfs.png">
                <div class="product-details">
                    <h6 class="name-head">Air Max 270 G Golf Shoe</h6>
                    <div class="product-price">
                        <h6>Price: 499.00</h6>
                    </div>
                    <div class="product-color">
                        <h6>Color: Blue</h6>
                    </div>
                </div>
                <div class="product-footer">
                    <a href="">View Details</a>
                    <a href="">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="product-item">
                <img
                    src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/1eeaacc0-e07c-4024-a5f7-57f2fd23e8a2/air-max-270-g-golf-shoe-Z6vCfs.png">
                <div class="product-details">
                    <h6 class="name-head">Air Max 270 G Golf Shoe</h6>
                    <div class="product-price">
                        <h6>Price: 499.00</h6>
                    </div>
                    <div class="product-color">
                        <h6>Color: Blue</h6>
                    </div>
                </div>
                <div class="product-footer">
                    <a href="">View Details</a>
                    <a href="">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="product-item">
                <img
                    src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/1eeaacc0-e07c-4024-a5f7-57f2fd23e8a2/air-max-270-g-golf-shoe-Z6vCfs.png">
                <div class="product-details">
                    <h6 class="name-head">Air Max 270 G Golf Shoe</h6>
                    <div class="product-price">
                        <h6>Price: 499.00</h6>
                    </div>
                    <div class="product-color">
                        <h6>Color: Blue</h6>
                    </div>
                </div>
                <div class="product-footer">
                    <a href="">View Details</a>
                    <a href="">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="product-item">
                <img
                    src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/1eeaacc0-e07c-4024-a5f7-57f2fd23e8a2/air-max-270-g-golf-shoe-Z6vCfs.png">
                <div class="product-details">
                    <h6 class="name-head">Air Max 270 G Golf Shoe</h6>
                    <div class="product-price">
                        <h6>Price: 499.00</h6>
                    </div>
                    <div class="product-color">
                        <h6>Color: Blue</h6>
                    </div>
                </div>
                <div class="product-footer">
                    <a href="">View Details</a>
                    <a href="">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="product-item">
                <img
                    src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/1eeaacc0-e07c-4024-a5f7-57f2fd23e8a2/air-max-270-g-golf-shoe-Z6vCfs.png">
                <div class="product-details">
                    <h6 class="name-head">Air Max 270 G Golf Shoe</h6>
                    <div class="product-price">
                        <h6>Price: 499.00</h6>
                    </div>
                    <div class="product-color">
                        <h6>Color: Blue</h6>
                    </div>
                </div>
                <div class="product-footer">
                    <a href="">View Details</a>
                    <a href="">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>